
{% load crispy_forms_tags %}
<link rel="stylesheet" href="{%static 'static/css/style.css' %">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{%url 'index'%}">OZ Blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link me-2 fs-5" href="{%url 'index'%}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-2 fs-5" href="{%url 'article:articles'%}">Articles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" href="{%url 'about'%}">About</a>
        </li>
      </ul> 
      
      <ul class=" navbar-nav ms-auto">
        {% if request.user.is_authenticated %} <!-- giriş yapıp yapmadığını kontrol edebilin-->
        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">{{request.user.username|upper}}</a>
            <div class="dropdown-menu dropdown-menu-endcmd">
                <a href="{%url 'article:dashboard'%}" class="dropdown-item">Control Panel</a>
                <div class="dropdown-divider"></div>
                <a href="{%url 'user:logout'%}" class="dropdown-item">Log Out</a>
            </div>
        </li>
        {% else %}
          <li class="nav-item">
            <a class="btn btn-success btn-sm mt-1 me-3" style="font-size: 15px;" href="{%url 'user:login'%}">Log In</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-primary btn-sm mt-1" style="font-size: 15px;" href="{%url 'user:register'%}">Register</a>
          </li>
        {%endif%} 
      </ul>
       
    </div>
  </div>
</nav>
