{%extends "layout.html" %}

{%block body%}
<h3>Hakkımızda</h3>

<hr>

<p>
    Herkese merhaba. Ben Özkan İnönlü. EMU Yazılım Mühendisliği 3.sınıf öğrencisiyim.
    Yazılım Bilimi kanalını programlama ve yazılım öğrenmek isteyen gençlere ve yazılımcılara faydalı olmak,
    aynı zamanda Türkiyede yazılımın ve eğitimin yükselmesi amacıyla  10 Nisan 2015 tarihinde kurdum.
    Şimdiye kadar elimden geldiğince video yüklemeye çalıştım.Bu kanaldaki amacım Yazılım Bilimini genel bir
    online akademiye dönüştürüp Türkiye’nin dört bir yanına ücretsiz bir şekilde eğitim verebilmek.
    Ülkemizin gençleri olarak hep beraber yazılımı ve bilimi herkese aşılamaya çalışalım. Var mısınız?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. A aliquid necessitatibus vero impedit nemo 
    iure dolorem neque? Possimus repellendus labore quaerat voluptatem, nostrum dolore, sunt fugit ipsa quibusdam,
    impedit ratione. Lorem, ipsum. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere inventore
    excepturi maxime illo nam laborum quasi impedit, expedita iure consectetur. Lorem ipsum, dolor sit amet 
    consectetur adipisicing elit. Debitis repudiandae aut dolorum a dicta ducimus sequi, molestias dolorem, 
    laudantium cupiditate inventore, cumque est distinctio necessitatibus quibusdam sunt natus quae iste 
    repellendus? Dolorum velit libero dignissimos culpa accusantium quis blanditiis, labore temporibus fuga quasi.
    Vitae nam modi maxime quibusdam ex omnis.
    Herkese merhaba. Ben Özkan İnönlü. EMU Yazılım Mühendisliği 3.sınıf öğrencisiyim.
    Yazılım Bilimi kanalını programlama ve yazılım öğrenmek isteyen gençlere ve yazılımcılara faydalı olmak,
    aynı zamanda Türkiyede yazılımın ve eğitimin yükselmesi amacıyla  10 Nisan 2015 tarihinde kurdum.
    Şimdiye kadar elimden geldiğince video yüklemeye çalıştım.Bu kanaldaki amacım Yazılım Bilimini genel bir
    online akademiye dönüştürüp Türkiye’nin dört bir yanına ücretsiz bir şekilde eğitim verebilmek.
    Ülkemizin gençleri olarak hep beraber yazılımı ve bilimi herkese aşılamaya çalışalım. Var mısınız?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. A aliquid necessitatibus vero impedit nemo 
    iure dolorem neque? Possimus repellendus labore quaerat voluptatem, nostrum dolore, sunt fugit ipsa quibusdam,
    impedit ratione. Lorem, ipsum. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere inventore
    excepturi maxime illo nam laborum quasi impedit, expedita iure consectetur. Lorem ipsum, dolor sit amet 
    consectetur adipisicing elit. Debitis repudiandae aut dolorum a dicta ducimus sequi, molestias dolorem, 
    laudantium cupiditate inventore, cumque est distinctio necessitatibus quibusdam sunt natus quae iste 
    repellendus? Dolorum velit libero dignissimos culpa accusantium quis blanditiis, labore temporibus fuga quasi.
    Vitae nam modi maxime quibusdam ex omnis.
    Herkese merhaba. Ben Özkan İnönlü. EMU Yazılım Mühendisliği 3.sınıf öğrencisiyim.
    Yazılım Bilimi kanalını programlama ve yazılım öğrenmek isteyen gençlere ve yazılımcılara faydalı olmak,
    aynı zamanda Türkiyede yazılımın ve eğitimin yükselmesi amacıyla  10 Nisan 2015 tarihinde kurdum.
    Şimdiye kadar elimden geldiğince video yüklemeye çalıştım.Bu kanaldaki amacım Yazılım Bilimini genel bir
    online akademiye dönüştürüp Türkiye’nin dört bir yanına ücretsiz bir şekilde eğitim verebilmek.
    Ülkemizin gençleri olarak hep beraber yazılımı ve bilimi herkese aşılamaya çalışalım. Var mısınız?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. A aliquid necessitatibus vero impedit nemo 
    iure dolorem neque? Possimus repellendus labore quaerat voluptatem, nostrum dolore, sunt fugit ipsa quibusdam,
    impedit ratione. Lorem, ipsum. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere inventore
    excepturi maxime illo nam laborum quasi impedit, expedita iure consectetur. Lorem ipsum, dolor sit amet 
    consectetur adipisicing elit. Debitis repudiandae aut dolorum a dicta ducimus sequi, molestias dolorem, 
    laudantium cupiditate inventore, cumque est distinctio necessitatibus quibusdam sunt natus quae iste 
    repellendus? Dolorum velit libero dignissimos culpa accusantium quis blanditiis, labore temporibus fuga quasi.
    Vitae nam modi maxime quibusdam ex omnis.
    Herkese merhaba. Ben Özkan İnönlü. EMU Yazılım Mühendisliği 3.sınıf öğrencisiyim.
    Yazılım Bilimi kanalını programlama ve yazılım öğrenmek isteyen gençlere ve yazılımcılara faydalı olmak,
    aynı zamanda Türkiyede yazılımın ve eğitimin yükselmesi amacıyla  10 Nisan 2015 tarihinde kurdum.
    Şimdiye kadar elimden geldiğince video yüklemeye çalıştım.Bu kanaldaki amacım Yazılım Bilimini genel bir
    online akademiye dönüştürüp Türkiye’nin dört bir yanına ücretsiz bir şekilde eğitim verebilmek.
    Ülkemizin gençleri olarak hep beraber yazılımı ve bilimi herkese aşılamaya çalışalım. Var mısınız?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. A aliquid necessitatibus vero impedit nemo 
    iure dolorem neque? Possimus repellendus labore quaerat voluptatem, nostrum dolore, sunt fugit ipsa quibusdam,
    impedit ratione. Lorem, ipsum. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere inventore
    excepturi maxime illo nam laborum quasi impedit, expedita iure consectetur. Lorem ipsum, dolor sit amet 
    consectetur adipisicing elit. Debitis repudiandae aut dolorum a dicta ducimus sequi, molestias dolorem, 
    laudantium cupiditate inventore, cumque est distinctio necessitatibus quibusdam sunt natus quae iste 
    repellendus? Dolorum velit libero dignissimos culpa accusantium quis blanditiis, labore temporibus fuga quasi.
    Vitae nam modi maxime quibusdam ex omnis.
</p>
{%endblock%}